@use '../../index.css';

.home {
    width: 100vi;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #fbfbe9;
    overflow-x: hidden;
    scrollbar-width: 6px;

    nav {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: center;

        .icons {
            margin-top: 2vi;
            margin-left: 45vi;
            color: #6c6150;
            width: 10vi;
            height: 10vi;
        }
    }
}

.help {
    position: static;
    margin: 1.5vi 1vi 2vi auto;
    color: #6c6150;
    width: 2vi;
    height: 2vi;
    cursor: pointer;

    img {
        width: 2vi;
        height: 2vi;
        border-radius: 50%;
    }
}
.rule{
    display: none;
}
.help:hover+.rule {
    display: block;
    position: fixed;
    z-index: 1004;
    border-radius: 1vh;
    border-top-right-radius: 0;
    padding: 1vi;
    height: max-content;
    width: 30vi;
    margin-top: 3.4vi;
    margin-left: 58vi;
    background-color: #6c6150;
    color: #fbfbe9;
    box-shadow: 0px 0.3vh 0.3vi 0px gray;
    
    h4 {
        text-align: center;
        font-weight: bold;
        font-size: 0.9vi;
    }

    li {
        font-size: 0.9vi;
    }
}

.avatar {
    position: static;
    width: 3vi;
    height: 3vi;
    margin: 1vi 1vi 2vi 0;
    border-radius: 50%;
    box-shadow: 0px 0.3vh 0.3vi 0px gray;
    opacity: 1;
    transition: opacity 0.3s ease;

    img {
        border-radius: 50%;
        width: 3vi;
        height: 3vi;
    }
}

.avatar:hover {
    opacity: 0.7;
    transition: opacity 0.3s ease;
}

.navPanel {
    position: relative;
    width: 60vi;
    height: 70vh;
    margin-top: 4vi;
    margin-bottom: 20px;
    padding: 0.5vi;
    background-color: #fbfbe9;
    border-radius: 0.5em;
    align-self: center;
    border: none;
}

.navList {
    display: flex;
    flex-direction: column;
    gap: 1vi;
    justify-content: center;

    button {
        height: 10vh;
        width: 30vi;
        background-color: #f6e5b4;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        padding: 1vi;
        box-shadow: 0px 0.3vh 0.3vi 0px gray;
        border-radius: 1vi;
        align-items: center;
        justify-content: center;
    }

    button:hover {
        background-color: #fae5a7;
    }

    button:active {
        background-color: #faedc6;
    }

    img {
        border-radius: 50%;
        width: 3vi;
        height: 3vi;
    }

    span {
        color: #FFA28D;
        font-weight: 700;
        font-size: 2vi;
    }
}
